TOKENS=["eyJTOKEN1","eyJTOKEN2"]
STFC_LOGINS='[{"email":"youperson@gmail.com","password":"ThisIsAPassword"},{"email":"otherperson@gmail.com","password":"ThisIsAPassword"}]'
STFC_CRYPTO_KEY="abcdefghijklmnopqrstuv1234567890" //must be 32 bits
STFC_CREDENTIAL_FILE="credentials.json"
STFC_S3_BUCKET="cyclic-xxx-xxx-xxx-us-east-1"